* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Cores */
  --primary: hsl(26, 100%, 55%);
  --primary-light: hsl(25, 100%, 94%);

  --text-dark: hsl(220, 13%, 13%);
  --text-gray: hsl(219, 9%, 45%);
  --text-light: hsl(220, 14%, 75%);

  --bg-light: hsl(223, 64%, 98%);
  --bg-white: hsl(0, 0%, 100%);
  --bg-black: hsl(0, 0%, 0%); /* (with 75% opacity for lightbox background) */

  /* Fonts tamanhos */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-md: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.5rem; /* 24px */
  --text-2xl: 2rem; /* 32px */
  --text-3xl: 3rem; /* 48px */

  /* Fonts weight */
  --font-regular: 400;
  --font-bold: 700;

  /* Radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-full: 50%;

  /* Shadows */
  --shadow-cart: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  /* Media Queries */
  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 992px;
  --breakpoint-desktop: 1440px;
}

/* MOBILE FIRST */
body {
  font-family: "Kumbh Sans", sans-serif;
}
header {
  padding: 1rem;
  position: relative;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__toggle {
  margin-right: 8px;
  cursor: pointer;
}
.nav__right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cart__button {
  cursor: pointer;
  position: relative;
}
.cart__count {
  position: absolute;
  top: -7px;
  right: -7px;
  background-color: var(--primary);
  color: white;
  font-weight: var(--font-bold);
  line-height: 100%;
  padding: 0.1rem 0.4rem;
  border-radius: 50px;
  font-size: var(--text-xs);
  display: none;
}
.cart__count.active {
  display: block;
}
.cart-avatar {
  width: 35px;
  height: 35px;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s;
}
.cart-avatar:hover {
  border: 1px solid var(--primary);
}
.cart__button,
.nav__toggle {
  border: none;
  background-color: transparent;
}
.nav__overlay {
  position: fixed;
  background-color: var(--bg-black);
  opacity: 75%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}
.nav__overlay.active {
  display: block;
}
.nav__menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 60%;
  height: 100vh;
  background-color: var(--bg-white);
  z-index: 1000;
  padding: 25px;
  transition: left 0.4s ease;
}
.nav__menu.active {
  left: 0;
}
.nav__close {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.nav__close:hover {
  transform: rotate(90deg);
}
.nav__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
  list-style: none;
}
.nav__link {
  color: var(--text-dark);
  font-weight: var(--font-bold);
  font-size: var(--text-lg);
  text-decoration: unset;
  transition: 0.3s ease;
}
.nav__link:hover {
  color: var(--text-gray);
  text-decoration: underline;
}
.product__hero {
  position: relative;
}
.product__hero .image-preview {
  width: 100%;
  cursor: pointer;
}
.product__hero .button-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: none;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-full);
  cursor: pointer;
}
.button-arrow--next {
  right: 1rem;
}
.button-arrow--previous {
  left: 1rem;
}

/* SECTION PRODUCT */
.product__info {
  padding: 0 1.5rem;
}

.product__company {
  color: var(--text-gray);
  text-transform: uppercase;
  margin: 1rem 0;
  font-size: var(--text-xs);
  letter-spacing: 2px;
}
.product__title {
  color: var(--text-dark);
  margin-bottom: 1rem;
  font-size: var(--text-2xl);
}
.product__description {
  color: var(--text-gray);
  font-size: var(--text-md);
  line-height: 1.5rem;
}
.product__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}
.product__price-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.product__price--new {
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
  color: var(--text-dark);
}
.product__price--discount {
  background-color: var(--bg-black);
  color: white;
  border-radius: var(--radius-sm);
  padding: 0.2rem 0.5rem;
  font-size: var(--text-md);
  font-weight: var(--font-bold);
}
.product__price--old {
  color: var(--text-gray);
  text-decoration: line-through;
  font-size: var(--text-md);
}
.product__actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem 0;
}
.product__quantity {
  background-color: var(--bg-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: var(--radius-md);
}
.product__quantity-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}
.product__quantity-value {
  font-weight: var(--font-bold);
  font-size: var(--text-md);
}
.product__add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--primary);
  border: none;
  padding: 20px 0;
  border-radius: var(--radius-md);
  color: var(--text-dark);
  font-weight: var(--font-bold);
  font-size: var(--text-sm);
  cursor: pointer;
}
.product__add-button img {
  height: 1rem;
  filter: brightness(0);
}
.cart__modal {
  position: absolute;
  top: calc(100% + 1rem);
  right: 1rem;
  left: 1rem;
  background-color: var(--bg-white);
  min-height: 250px;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-cart);
  z-index: 1;
  display: none;
}
.cart__modal.active {
  display: block;
}
.cart__header {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid var(--text-light);
  font-weight: var(--font-bold);
  font-size: var(--text-lg);
}
.cart__empty {
  color: var(--text-gray);
  font-weight: var(--font-bold);
  font-size: var(--text-md);
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50px;
  right: 50px;
  text-align: center;
  transform: translateY(-50%);
  display: none;
}
.cart__empty.active {
  display: block;
}
.cart__container-items {
  padding: 1.5rem 1rem;
  display: none;
}
.cart__container-items.active {
  display: block;
}
.cart__items {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.cart__checkout-button {
  background-color: var(--primary);
  color: var(--text-dark);
  font-weight: var(--font-bold);
  font-size: var(--text-sm);
  border: none;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
}
.cart__checkout-button:hover {
  color: white;
  opacity: 0.9;
}

.cart__thumbnail {
  width: 50px;
  height: auto;
  border-radius: 4px;
}
.cart__delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

.info__group-price {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 5px;
}
.info__title {
  color: var(--text-gray);
  font-size: var(--text-md);
}
.price,
.count {
  color: var(--text-gray);
}
.total-amount {
  color: var(--text-dark);
  font-weight: var(--font-bold);
}
.thumb-gallery {
  display: none;
}
/* Lightbox */
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  display: none;
}
.lightbox__content {
  position: relative;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.lightbox__close-btn {
  position: absolute;
  top: -40px;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.lightbox__close-btn img {
  width: 16px;
  height: auto;
  filter: brightness(250%);
}
.lightbox__main {
  position: relative;
}
.lightbox__main img {
  border-radius: var(--radius-md);
  width: 100%;
}
.lightbox__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--bg-white);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0.7rem;
  border-radius: var(--radius-full);
  cursor: pointer;
}
.lightbox__arrow--next {
  right: -17px;
}
.lightbox__arrow--prev {
  left: -17px;
}
.lightbox__thumbnails {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.lightbox__thumbnails img {
  width: 16%;
  border-radius: var(--radius-md);
  border: 2px solid transparent;
  cursor: pointer;
}
.lightbox__thumbnails img.active {
  border: 2px solid var(--primary);
  opacity: 0.6;
}

/* Media Queries tablet */
@media screen and (min-width: 768px) {
  header,
  .product {
    width: 85%;
    margin: 0 auto;
  }
  header {
    border-bottom: 1px solid var(--text-light);
    padding: 1.5rem 0;
  }

  .nav__toggle {
    display: none;
  }
  .nav__menu {
    position: static;
    background: transparent;
    width: auto;
    height: auto;
    padding: 0;
    margin-left: 2rem;
  }
  .nav__close {
    display: none;
  }
  .nav__left {
    display: flex;
    align-items: center;
  }
  .nav__list {
    flex-direction: row;
    margin-top: 0;
    margin-left: 1.5rem;
  }
  .nav__link {
    color: var(--text-gray);
    font-weight: var(--font-regular);
    font-size: var(--text-md);
    border-bottom: 3px solid transparent;
    padding: 2.1rem 0;
  }

  .nav__link:hover {
    border-bottom: 3px solid var(--primary);
    text-decoration: none;
  }
  .nav__right {
    gap: 2rem;
  }
  .cart__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart-avatar {
    width: 45px;
    height: auto;
  }
  .product {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
  }
  .image-preview {
    border-radius: 8px;
  }
  .cart__modal {
    left: 67%;
    width: 350px;
  }
  .product__price {
    flex-direction: column;
    align-items: start;
    gap: 7px;
  }
  .product__actions {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .product__quantity {
    margin-top: 0;
    width: 30%;
  }
  .product__add-button {
    flex: 1;
  }
  .button-arrow {
    display: none !important;
  }
  .thumb-gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  .thumb-pic {
    width: 20%;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: 0.4s;
    cursor: pointer;
  }
  .thumb-pic:hover {
    border: 2px solid var(--primary);
    opacity: 0.6;
  }
  .thumb-pic.active {
    border: 2px solid var(--primary);
    opacity: 0.6;
    border-radius: 8px;
  }
  .lightbox.active {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  header,
  .product {
    max-width: 1200px;
    margin: 0 auto;
  }
  .cart-avatar {
    width: 50px;
    height: 50px;
  }
  .cart__modal {
    left: 70%;
    width: 350px;
  }

  .product {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 3rem;
    padding: 2.5rem;
  }

  .product__hero .image {
    width: 500px;
  }
  .product__actions {
    display: flex;
  }
  .button-arrow {
    display: none !important;
  }
}
